<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>	<b>О факультете повышения квалификации ФГБОУ ВО МГППУ</b>
</p>
<p>
    Факультет повышения квалификации работает с 1999 года.
</p>
<p>
    <strong>Цель деятельности факультета</strong> — реализация программ дополнительного профессионального образования (ДПО).
</p>
<p>
    Специалисты, обучаясь по программам ДПО, повышают уровень 
профессиональной компетентности, что способствует обеспечению их 
конкурентного преимущества на рынке труда.
</p>
<p>
    В рамках этой общей цели ставятся разные задачи, в зависимости от 
контингента обучающихся специалистов. Например, работа с педагогами 
предполагает повышение их психологической компетентности. Педагоги 
получают знания о закономерностях возрастного развития детей, 
индивидуально-типических особенностях, развитии личности в разных 
условиях обучения и воспитания, специфике усвоения знаний, приобретают 
умения, способствующие индивидуализации обучения, созданию в классе или 
группе атмосферы психологической поддержки, эффективному общению с 
учащимися и родителями, предотвращению и разрешению конфликтов.
</p>
<p>
    При повышении квалификации психологов решается задача овладения ими 
углубленными знаниями в определенной области и дополнительными умениями 
(технологиями).
</p>
<p>
    В перечне предлагаемых программ имеются те, которые освещают деятельность работников образования в условиях новых ФГОС.
</p>
<p>
    Образовательные программы факультета отражают последние достижения 
науки, отвечают на актуальные запросы психологической и педагогической 
практики, проектируются с учётом последних нормативных документов 
дополнительного профессионального образования.
</p>
<p>
    Программы проходят внутреннюю и внешнюю экспертизу и утверждаются 
Ученым советом МГППУ и Экспертным советом ДПО Департамента образования 
г. Москвы.
</p>
<p>
    <b>Виды программ дополнительного профессионального образования </b>
</p>
<p>
    Факультет повышения квалификации предлагает пройти программы 
профессиональной переподготовки (свыше 250 часов) и программы повышения 
квалификации (от 16 до 250 часов).
</p>
<p>
    Пройдя программу ДПО от 16 до 250 часов, можно повысить квалификацию с 
целью совершенствования профессиональной деятельности и/или освоения 
новых компетенций. Таких программ реализуется около 60 в течение 
учебного года. По ним обучаются ежегодно до 1000 человек.
</p>
<p>
    Окончив программу профессиональной переподготовки длительностью 250 и 
более часов, специалисты получают возможность ведения нового вида 
деятельности в рамках имеющейся квалификации. По программам 
переподготовки ежегодно обучаются свыше 100 человек.
</p>
<p>
    В зависимости от срока обучения выдаются <b>документы по окончании</b>:
</p>
<ul>
    <li>от 16 до 250 часов - УДОСТОВЕРЕНИЕ УСТАНОВЛЕННОГО ОБРАЗЦА</li>
    <li>свыше 250 часов - ДИПЛОМ УСТАНОВЛЕННОГО ОБРАЗЦА</li>
</ul>
<p>
    Постоянно в план работы факультета включаются новые пользующиеся 
спросом темы для разработки программ ДПО. На данный момент реализуются 
около 60 образовательных программ, которые предназначаются для различных
 категорий обучающихся:
</p>
<ul>
    <li>Воспитатели ДОУ</li>
    <li>Педагоги</li>
    <li>Руководители, методисты</li>
    <li>Педагоги-психологи</li>
    <li>Социальные педагоги</li>
    <li>Логопеды, дефектологи</li>
    <li>Преподаватели ВУЗов</li>
    <li>Специалисты инклюзивного образования</li>
    <li>Специалисты телефонного консультирования</li>
    <li>Специалисты других сфер деятельности</li>
</ul>
<p>
    Руководствуясь принципами индивидуализации, доступности и непрерывности
 обучения, коллектив факультета работает и над вариативностью форм 
обучения. На факультете реализуется очная и дистанционная формы 
обучения, стажировка, интенсивные программы.
</p>
<p>
    С 2012 года начала активно осуществляться реализация программ в 
дистанционной форме, что делает доступным непрерывное профессиональное 
образование для специалистов всех регионов России.
</p>
<p>
    <b>Обеспеченность научно-педагогическими кадрами. </b>
</p>
<p>
    Занятия по программам ДПО проводят ведущие преподаватели МГППУ и 
специалисты других организаций, в соответствии с тематикой программ.
</p>
<p>
    <b>Структура факультета.</b> В состав факультета входят:
</p>
<p>
    <b>Декан:</b> <a href="http://fpk.mgppu.ru/personal/KonovalovaIV.php" title="Коновалова Ирина Валентиновна">Коновалова Ирина Валентиновна</a> к.пс.н.
</p>
<p>
    Специалисты по учебно-методической работе:
</p>
<ul>
    <li>Горовец Владимир Сергеевич</li>
    <li>Заманова Гульнара Раисовна, канд. истор. наук</li>
    <li>Куприна Ирина Ивановна</li>
    <li>Филиппова Евгения Владимировна</li>
    <li>Шишорина Варвара Гарегиновна</li>
</ul>
<p>
    <b>Контактная информация:</b>
</p>
<p>
    <b>График работы </b>факультета: понедельник-пятница с 10-00 до 18-00
</p>
<p>
    <b>Адрес:</b> г. Москва, Шелепихинская наб., 2А, корп. Г, каб.402.
</p>
<p>
    <b>Как к нам добраться?</b> Остановка для наземных видов транспорта - "Шелепихинский мост".
</p>
<ul>
    <li>От ст. метро "Белорусская" - маршрутка № 461 (до ворот МГППУ). Троллейбус №54.</li>
    <li>От ст. метро "Улица 1905 года" - маршрутки №28 и 254.Троллейбус №54. Автобусы №69 и 869.</li>
    <li>От ст. метро "Полежаевская" - маршрутка №455. Автобус №155.</li>
    <li>От ст. метро "Краснопресненская" - троллейбус №66, автобусы №152, №69.</li>
</ul>
<p>
    Далее пройти под мостом и идти пешком по Мукомольному проезду 10 минут.
</p>
<ul>
    <li>От ст. метро "Фили" - маршрутка №28. Автобус №69 и 896.</li>
    <li>От ст. метро "Филевский парк" - маршрутки 455, 254. Троллейбусы №66, 54. Автобус №155.</li>
</ul>
<p>
    Далее идти пешком по Мукомольному проезду 10 минут.
</p>
<p>
    <b>Телефоны:</b>
</p>
<ul>
    <li>по вопросам обучения +7 (499) 259-47-51, +7(499) 256-10-27,</li>
    <li>выдача документов: +7 (495) 632-99-85 (понедельник с 10 до 13.00, среда с 15.00 до 18.00 часов)</li>
</ul>
<p>
    <b>Электронная почта:</b> <a href="mailto:kurs@fpkmgppu.ru">kurs@fpkmgppu.ru</a></p>
</section>
