<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Terms of Service")}</h1>
        <p>

<!-- CONTENT -->
	<center><h4>Парадигма проекта “Народный Open edX” заключается в распространении современных технологий дистанционного обучения в среде производителей и потребителей учебного контента.</h4><br>

<h3>Линия развития идёт от открытых дистанционных образовательных технологий через создание открытой образовательной среды и открытых образовательных курсов</h3>.<br>

<em><h3>Характерная особенность проекта - устранение психологического барьера, о сложности установки и эксплуатации платформы Open edX.</h3></em><br>

<h5>Прогнозируемый результат состоит в подготовке открытых курсов для внешних агрегаторов и сервисов дистанционного обучения. При этом охват масс возможен, начиная от учителей средней школы и до профессорско-преподавательского состава вузов.</h5>

<strong><h3>Добровольный эксплуатационный взнос на поддержку хостинга проекта можно сделать на счёт:</h3></strong> <br></center>

<ul>
	<li>Visa Card 4281 2263 4252 9552 или 4890 4940 3105 2244 </li>
<li>QIWI WALLET +79040500275 </li>
<li>Яндекс кошелёк 410012568104395</li>
 
</ul>
	<!-- END CONTENT ============================================= -->
    </section>
</main>
