## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>
<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='theme-settings.html'/>

<%
  theme_vars = theme_settings.get_theme_vars()
  effective_date = theme_vars['effective_date']
%>

<div class="wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      
      <nav class="nav-colophon">
        <ol>
		
	
     
          <li><a href="${reverse('tos')}">${_('Terms of Service')} <br />
            
          </a></li>
          <li><a href="${reverse('tos')}#privacy">${_('Privacy Policy')} <br />
            
          </a></li>
          <li><a href="${reverse('tos')}#copyright">${_('Copyright')}</a></li>
          <li><a href="${marketing_link('ABOUT')}#contact">${_('Contact')}</a></li>
		    </ol>
		 
      </nav>
    </div>
    <div class="references">
       <a href="https://github.com/causariaLMS"> <input type="submit"  value=" Fork me on GitHub "> </a>
    </div>
  </footer>
</div>   

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://vladimirandropov.github.io/portfolio/">
          <img src="${static.url('images/footer-stanford-logo@2x.png')}" alt="mgppu" width="50" height="50"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://vladimirandropov.github.io/portfolio/#/overview">О нас</a></li>
          <li class="maps alt"><a href="http://vladimirandropov.github.io/portfolio/#/projects">Проекты</a></li>
          <li class="search-stanford"><a href="http://vladimirandropov.github.io/portfolio/#/faq">FAQ</a></li>
          <li class="terms alt"><a href="http://vladimirandropov.github.io/portfolio/#/contacts">Контакты</a></li>
          
        </ul>
        <div class="clear"></div>
         <p class="copyright vcard">&copy;2017 <span class="fn org"> - </span> <span class="adr"> <span class="locality">Все права защищены.</span> <span class="region">EdX, Open edX и логотипы edX и Open EdX являются зарегистрированными торговыми марками или торговыми марками edX Inc.</span> </span></p>
        </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
